<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.daxin.dao.NewsMapper">
  <resultMap id="BaseResultMap" type="com.daxin.bean.News">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="issueTime" jdbcType="TIMESTAMP" property="issuetime" />
    <result column="clicks" jdbcType="INTEGER" property="clicks" />
    <result column="froms" jdbcType="VARCHAR" property="froms" />
    <result column="imgs" jdbcType="VARCHAR" property="imgs" />
    <result column="category_id" jdbcType="INTEGER" property="categoryId" />
  </resultMap>
  <resultMap id="WithCategoryResultMap" type="com.daxin.bean.News">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="issueTime" jdbcType="TIMESTAMP" property="issuetime" />
    <result column="clicks" jdbcType="INTEGER" property="clicks" />
    <result column="froms" jdbcType="VARCHAR" property="froms" />
    <result column="imgs" jdbcType="VARCHAR" property="imgs" />
    <result column="category_id" jdbcType="INTEGER" property="categoryId" />
    <!-- 指定联合查询出的类型字段的封装 -->
    <association property="category" javaType="com.daxin.bean.Category">
      <id column="id" property="id"/>
      <result column="categoryName" property="categoryname"/>
    </association>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, title, content, issueTime, clicks, froms, imgs, category_id
  </sql>
  <sql id="WithCategory_Column_List">
    n.id, n.title, n.content, n.issueTime, n.clicks, n.froms, n.imgs, n.category_id, c.id, c.categoryName
  </sql>
  <select id="selectByExample" parameterType="com.daxin.bean.NewsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from news
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from news
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByExampleWithCategory" parameterType="com.daxin.bean.NewsExample" resultMap="WithCategoryResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="WithCategory_Column_List" />
    from news n
    left join category c on n.category_id = c.id
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKeyWithCategory" parameterType="java.lang.Integer" resultMap="WithCategoryResultMap">
    select
    <include refid="WithCategory_Column_List" />
    from news n
    left join category c on n.category_id = c.id
    where n.id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from news
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.daxin.bean.NewsExample">
    delete from news
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.daxin.bean.News">
    insert into news (id, title, content, 
      issueTime, clicks, froms, 
      imgs, category_id)
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, 
      #{issuetime,jdbcType=TIMESTAMP}, #{clicks,jdbcType=INTEGER}, #{froms,jdbcType=VARCHAR},
      #{imgs,jdbcType=VARCHAR}, #{categoryId,jdbcType=INTEGER})
  </insert>
  <!--让Mybatis自动将自增id赋值传入到News的id属性
    useGeneratedKeys="true" keyProperty=""，将刚才自增的id封装给哪个属性-->
  <insert id="insertSelective" parameterType="com.daxin.bean.News" useGeneratedKeys="true" keyProperty="id">
    insert into news
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="issuetime != null">
        issueTime,
      </if>
      <if test="clicks != null">
        clicks,
      </if>
      <if test="froms != null">
        froms,
      </if>
      <if test="imgs != null">
        imgs,
      </if>
      <if test="categoryId != null">
        category_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="issuetime != null">
        #{issuetime,jdbcType=TIMESTAMP},
      </if>
      <if test="clicks != null">
        #{clicks,jdbcType=INTEGER},
      </if>
      <if test="froms != null">
        #{froms,jdbcType=VARCHAR},
      </if>
      <if test="imgs != null">
        #{imgs,jdbcType=VARCHAR},
      </if>
      <if test="categoryId != null">
        #{categoryId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.daxin.bean.NewsExample" resultType="java.lang.Long">
    select count(*) from news
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update news
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.title != null">
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.content != null">
        content = #{record.content,jdbcType=VARCHAR},
      </if>
      <if test="record.issuetime != null">
        issueTime = #{record.issuetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.clicks != null">
        clicks = #{record.clicks,jdbcType=INTEGER},
      </if>
      <if test="record.froms != null">
        froms = #{record.froms,jdbcType=VARCHAR},
      </if>
      <if test="record.imgs != null">
        imgs = #{record.imgs,jdbcType=VARCHAR},
      </if>
      <if test="record.categoryId != null">
        category_id = #{record.categoryId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update news
    set id = #{record.id,jdbcType=INTEGER},
      title = #{record.title,jdbcType=VARCHAR},
      content = #{record.content,jdbcType=VARCHAR},
      issueTime = #{record.issuetime,jdbcType=TIMESTAMP},
      clicks = #{record.clicks,jdbcType=INTEGER},
      froms = #{record.froms,jdbcType=VARCHAR},
      imgs = #{record.imgs,jdbcType=VARCHAR},
      category_id = #{record.categoryId,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.daxin.bean.News">
    update news
    <set>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="issuetime != null">
        issueTime = #{issuetime,jdbcType=TIMESTAMP},
      </if>
      <if test="clicks != null">
        clicks = #{clicks,jdbcType=INTEGER},
      </if>
      <if test="froms != null">
        froms = #{froms,jdbcType=VARCHAR},
      </if>
      <if test="imgs != null">
        imgs = #{imgs,jdbcType=VARCHAR},
      </if>
      <if test="categoryId != null">
        category_id = #{categoryId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.daxin.bean.News">
    update news
    set title = #{title,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      issueTime = #{issuetime,jdbcType=TIMESTAMP},
      clicks = #{clicks,jdbcType=INTEGER},
      froms = #{froms,jdbcType=VARCHAR},
      imgs = #{imgs,jdbcType=VARCHAR},
      category_id = #{categoryId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>